torch==1.13.0
matplotlib
numpy
opencv-python
pandas
Pillow
scikit-image
scikit-learn
scipy
svgpathtools==1.4.1
svgwrite==1.4.1
torch-tools==0.1.5
torchfile==0.1.0
torchvision==0.14.0
tqdm==4.62.1
wandb==0.12.0
cmake==3.29.2
cssutils